<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}
<html>
  <head>
    <title>
      Rotten Tomatoes on Material Design
    </title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" >
    <link href="{% static "css/font-awesome.min.css" %}" type="text/css" rel="stylesheet" >
    <script src="{% static "js/modernizr.js" %}"></script>
    <script src="{% static "js/ajax.js" %}"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {var availableTags = ["Child's Pose","Pompeii","3 Days To Kill","In Secret","Barefoot","Omar","Non-Stop","Son Of God","The Wind Rises","Welcome to Yesterday","Stalingrad","Repentance","The Lunchbox"];
        $( "#tags" ).autocomplete({source: availableTags});});
    </script>
  </head>
  
  <body>
<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper"><a id="logo-container" href="#top" class="brand-logo">Rotten Tomatoes on Material Design</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static "img/Rotten-Tomatoes.jpg" %}"></div>
</div>
<div >
  <label for="tags">Tags: </label>
  <input id="tags">
</div>
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">List of Movies</h2>
        <div class="row">
          {% for movie in js.movies %}
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{movie.posters.profile}}" width="285px" height="435px" >
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ movie.title }}<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href='/get/{{ movie.id }}/'>Runtime: {{ movie.runtime }} minutes</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Syopsis<i class="mdi-navigation-close right"></i></span>
                        <p>{{ movie.synopsis|truncatewords:"50" }} <br><a href='/get/{{ movie.id }}/'> Click to read more </a></p>
                    </div>
                </div>
            </div>{% endfor %}
            
        </div>
    </div>
</div> 
<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Social</h5><a class="white-text" href="https://www.facebook.com/rkgudboy">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                        <a class="white-text" href="https://github.com/rkgudboy">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                        <a class="white-text" href="https://in.linkedin.com/pub/rohit-kashyap/4b/769/12b">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="http://rohitkashyap.in">Rohit Kashyap</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>
        </div>
    </div>
</footer>
  </body>
</html>
