{% load bootstrap3 %}
<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}
<html>
  <head>
    <title>
      Foundation for Learning Equality
    </title>
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" >
    <link href="{% static "css/font-awesome.min.css" %}" type="text/css" rel="stylesheet" >
    <script src="{% static "js/modernizr.js" %}"></script> <!-- Modernizr -->
    <script src="{% static "js/ajax.js" %}"></script>
  </head>

  <body>
    <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper"><a id="logo-container" href="#top" class="brand-logo">MD Template</a>
            <ul id="nav-mobile" class="right side-nav">
                <li><a href="#intro">Service</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="https://github.com/joashp/material-design-template" target="_blank">Download</a></li>
            </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>
{% for movie in js.movies %}
        {% if movie.id == movie_id %}
<!--Intro and service- <span class="span_h2"> Phasellus  </span> -->
<div class="parallax-container">
    <div class="parallax"><img src="{{ movie.posters.original }}"></div>
  </div>
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">{{ movie.title }}</h2>
            </div>

                <div class="center promo promo-example">
                    <img src="{{ movie.posters.profile }}">
                    <h5 class="promo-caption">Synopsis</h5>
                    <p class="light center">{{ movie.synopsis }}</p>
                
            </div>
        </div>
    </div>
</div>

<!--Team-->          
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Movie Detail </h2>
    <div class="col s9 m9 l5">
        <div id="introduction" class="section scrollspy">
            <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="mdi-av-games"></i>Release Year</div>
                    <div class="collapsible-body"><p>{{ movie.year }}</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-av-games"></i>MPAA Rating</div>
                    <div class="collapsible-body"><p>{{ movie.mpaa_rating }}</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-av-games"></i>Runtime</div>
                    <div class="collapsible-body"><p>{{ movie.runtime }}</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-av-games"></i>Release Date</div>
                    <div class="collapsible-body"><p>{{ movie.release_dates.theater }}</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-av-games"></i>Critics Ratings</div>
                    <div class="collapsible-body"><p>{{ movie.ratings.critics_ratings }}</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-av-games"></i>Critics Score</div>
                    <div class="collapsible-body"><p>{{ movie.ratings.critics_score }}</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-av-games"></i>Audience Score</div>
                    <div class="collapsible-body"><p>{{ movie.ratings.audience_score }}</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>
    <!--<div class="container">
        <h2 class="header text_b"> Movie Detail </h2>
        
          
            <div class="col s12 m3">
                <div class="card card-avatar waves-effect waves-block waves-dark">
                    <div class="">
                    <div class="card-content ">
                        <span class="card-title activator grey-text text-darken-4">Release Year<br/>
                            <small><em><a class="red-text text-darken-1" href="#">{{ movie.year }}</a></em></small></span>
                        <p>
                        </p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">MPAA Rating<br/>
                            <small><em><a class="red-text text-darken-1" href="#"></a></em></small></span>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Runtime<br/>
                            <small><em><a class="red-text text-darken-1" href="#">{{ movie.runtime }}</a></em></small></span>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Release Date<br/>
                            <small><em><a class="red-text text-darken-1" href="#">{{ movie.release_dates.theater }}</a></em></small></span>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Critics Ratings<br/>
                            <small><em><a class="red-text text-darken-1" href="#">{{ movie.ratings.critics_rating }}</a></em></small></span>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Critics Score<br/>
                            <small><em><a class="red-text text-darken-1" href="#">{{ movie.ratings.critics_score }}</a></em></small></span>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Audience Score<br/>
                            <small><em><a class="red-text text-darken-1" href="#">{{ movie.ratings.audience_score }}</a></em></small></span>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><br/>
                            <small><em><a class="red-text text-darken-1" href="#"></a></em></small></span>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        
    </div>
</div> -->
<!--Team-->          
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Cast </h2>
        
          {% for cast in movie.abridged_cast %}
            <div class="col s12 m3">
                <div class="card card-avatar waves-effect waves-block waves-teal">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ cast.name }}<br/>
                            {% for chars in cast.characters %}
                            <small><em><a class="red-text text-darken-1" href="#">{{ chars }}</a></em></small></span>
                            {% endfor %}
                    </div>
                </div>
            </div>{% endfor %}
        
    </div>
</div>
<div class="section scrollspy" id="team">  
<div class="container">
    <h2 class="header text_b"> Posters </h2>
    <div class="row">
          <div class="col s12 m9">
            <div class="card large">
              <div class="card-image">
                <img src="{{ movie.posters.original }}">
                </div>
              <div class="card-content">
                <h3 class="header text_b">Ful Sized Poster</h3>
              </div>
            </div>
          </div>
          <div class="col s8 m6">
            <div class="card medium">
              <div class="card-image">
                <img src="{{ movie.posters.detailed }}">
              </div>
              <div class="card-content">
                <h4 class="header text_b">Detailed Poster</h4>
              </div>
              </div>
          </div>
          <div class="col s4 m3">
            <div class="card medium">
              <div class="card-image">
                <img src="{{ movie.posters.profile }}">
              </div>
              <div class="card-content">
                <h5 class="header text_b">Profile Image</h5>
              </div>
              </div>
          </div>
    </div>
</div>    
<div class="container">
    <a class="waves-effect waves-light btn" href="{{ movie.links.alternate }}">See on Rotten Tomatoes</a>
    <a class="waves-effect waves-light btn" href="http://www.imdb.com/title/tt{{ movie.alternate_ids.imdb }}/">See on IMDB</a>
    <!--<a class="waves-effect waves-light btn" href="{{ movie.links.cast }}?apikey=[72c3rdh4ujj63cffvg4yr37d]">Cast</a>
    <a class="waves-effect waves-light btn" href="{{ movie.links.clips }}?apikey=[72c3rdh4ujj63cffvg4yr37d]">Clips</a>
    <a class="waves-effect waves-light btn" href="{{ movie.links.reviews }}?apikey=[72c3rdh4ujj63cffvg4yr37d]">Reviews</a>
    <a class="waves-effect waves-light btn" href="{{ movie.links.similar }}?apikey=[72c3rdh4ujj63cffvg4yr37d]">Similar</a>
    <a class="waves-effect waves-light btn" href="{{ movie.links.self }}?apikey=[72c3rdh4ujj63cffvg4yr37d]">Self Links</a> -->
</div>           
        {% endif %}
      {% endfor %}
<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Social</h5><a class="white-text" href="https://www.facebook.com/rkgudboy">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                        <a class="white-text" href="https://github.com/rkgudboy">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                        <a class="white-text" href="https://in.linkedin.com/pub/rohit-kashyap/4b/769/12b">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="http://rohitkashyap.in">Rohit Kashyap</a>. Thanks to <a class="white-text" href="http://materializecss.com/">materializecss</a>
        </div>
    </div>
</footer>
  </body>
</html>
